body{
    display: block;
}
.all{
    display: block;
    text-align: center;
}
.img{
    text-align: center;
}
.h6login{
    font-size: 30px;
    text-align: center;
    margin-right: 425px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button{
    border-bottom: #f5f6f7;
    text-align: center;
    margin-bottom: 35px;
}
.button1{
    background-color: white;
    border: solid 2px #a1a8ae;
    border-bottom-color: white;
    margin-right: 25px;
    width: 160px;
    height: 55px;
}
.button2{
    background-color: #f3f3f3;
    border: solid 2px #a1a8ae;
    margin-right: -7px;
    width: 160px;
    height: 55px;
}
.button3{
    background-color:#f3f3f3;
    border: solid 2px #a1a8ae;
    width: 160px;
    height: 55px;
}
.hr1{
    border: 0px;
    background-color: #a1a8ae;
    height: 1px;
    margin-right: 300px;
    margin-top: -1px;
    width: 345px;
}
.checkbox{
    display: block;
    margin-bottom: 10px;
}
.check{
    width: 15px;
    height: 15px;
}
.span1{
    margin-left: -7px;
    font-size: 15px;
    margin-right: 410px;
}
.login{
    display: block;
}
.id{
    margin-top: 6px;
    margin-bottom: 6px;
    width: 505px;
    height: 49px;
}
.loginbutton{
    font-size: 20px;
    color: white;
    border: solid 1px #3f5ae1;
    background-color: #526fff;
    width: 513px;
    height: 65px;
}
.findjoin{
    margin-bottom: 35px;
    margin-top: 35px;
    font-size: 15px;
}
.join{
    margin-right: 130px;
    display: inline;
}
.sec{
    display: inline;
}
.hr2{
    width: 505px;
}
.another{
    display: block;
}
.anotherLogin{
    float: left;
}
.face{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 200px;
    margin-right: 200px;
    border: solid 1px #a1a8ae; 
    background-color: white;
    width: 505px;
    height: 49px;
}
.anotherimg{
    
    width: 40px;
    height: 40px;
}